<?xml version="1.0" encoding="utf-8"?>
<Root>
  <ConfigObject>
    <UserName>MBF</UserName>
    <FilesPatternProgress>*.p,*.i*,*.w,*.t,*.cls,*.dbg,*.df,*.m*</FilesPatternProgress>
    <FilesPatternNppOpenable>*.txt,*.boi,*.sh,*.cmd,*.xrf,*.lis,*.xml</FilesPatternNppOpenable>
    <GlobalHelpFilePath>C:\dlc\prohelp\lgrfeng.chm</GlobalHelpFilePath>
    <NeverUseProwinInBatchMode>False</NeverUseProwinInBatchMode>
    <UseDefaultValuesInsteadOfLastValuesInEditTags>True</UseDefaultValuesInsteadOfLastValuesInEditTags>
    <CompileAlwaysShowNotification>True</CompileAlwaysShowNotification>
    <AppliAllowTabAnimation>False</AppliAllowTabAnimation>
    <ShowTreeBranches>True</ShowTreeBranches>
    <GlobalShowDetailedHelpForErrors>False</GlobalShowDetailedHelpForErrors>
    <InstallStep>2</InstallStep>
    <NppOutdatedVersion>False</NppOutdatedVersion>
    <FilesPatternCompilable>*.p,*.w,*.t,*.cls,*.i*,*.m*</FilesPatternCompilable>
    <CompileForceUseOfTemp>False</CompileForceUseOfTemp>
    <CompileWithDebugList>False</CompileWithDebugList>
    <CompileWithXref>False</CompileWithXref>
    <CompileWithListing>False</CompileWithListing>
    <CompileUseXmlXref>False</CompileUseXmlXref>
    <CompileDirectoriesHistoric>C:\Users\matheus.fiorini\Documents\GitHub,</CompileDirectoriesHistoric>
    <CurrentDeployProfile>Deploy-tst</CurrentDeployProfile>
    <UserGetsPreReleases>False</UserGetsPreReleases>
    <GlobalDontCheckUpdates>False</GlobalDontCheckUpdates>
    <GlobalDontCheckProlintUpdates>False</GlobalDontCheckProlintUpdates>
    <WebUseProxy>False</WebUseProxy>
    <WebProxyUri></WebProxyUri>
    <WebProxyUsername></WebProxyUsername>
    <WebProxyPassword></WebProxyPassword>
    <DebugReleasesApi></DebugReleasesApi>
    <AutoCompleteOnKeyInputShowSuggestions>False</AutoCompleteOnKeyInputShowSuggestions>
    <AutoCompleteStartShowingListAfterXChar>1</AutoCompleteStartShowingListAfterXChar>
    <AutoCompleteOnKeyInputHideIfEmpty>True</AutoCompleteOnKeyInputHideIfEmpty>
    <AutoCompleteShowChildrenAfterSeparator>True</AutoCompleteShowChildrenAfterSeparator>
    <AutoCompleteUseTabToAccept>True</AutoCompleteUseTabToAccept>
    <AutoCompleteUseEnterToAccept>True</AutoCompleteUseEnterToAccept>
    <AutoCompleteUnfocusedOpacity>0.92</AutoCompleteUnfocusedOpacity>
    <AutoCompleteFocusedOpacity>0.92</AutoCompleteFocusedOpacity>
    <AutoCompleteShowInCommentsAndStrings>False</AutoCompleteShowInCommentsAndStrings>
    <AutoCompleteInsertSelectedSuggestionOnWordEnd>True</AutoCompleteInsertSelectedSuggestionOnWordEnd>
    <AutoCompleteAutoCase>True</AutoCompleteAutoCase>
    <AutoCompleteKeywordCaseMode>3</AutoCompleteKeywordCaseMode>
    <AutoCompleteDatabaseWordCaseMode>2</AutoCompleteDatabaseWordCaseMode>
    <AutoCompleteReplaceAbbreviations>False</AutoCompleteReplaceAbbreviations>
    <AutoCompleteReplaceSemicolon>False</AutoCompleteReplaceSemicolon>
    <AutoCompleteOnlyShowDefinedVar>True</AutoCompleteOnlyShowDefinedVar>
    <AutoCompleteShowListOfXSuggestions>12</AutoCompleteShowListOfXSuggestions>
    <AutoCompleteWidth>310</AutoCompleteWidth>
    <AutoCompleteNeverAskToDisableDefault>False</AutoCompleteNeverAskToDisableDefault>
    <AutoCompleteItemPriorityList>0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20</AutoCompleteItemPriorityList>
    <NppAutoCompleteMaxLengthToParse>5000000</NppAutoCompleteMaxLengthToParse>
    <NppAutoCompleteIgnoreNumbers>False</NppAutoCompleteIgnoreNumbers>
    <NppAutoCompleteInsertSelectedSuggestionOnWordEnd>False</NppAutoCompleteInsertSelectedSuggestionOnWordEnd>
    <NppAutoCompleteAutoCase>False</NppAutoCompleteAutoCase>
    <NppAutoCompleteMinWordLengthRequired>2</NppAutoCompleteMinWordLengthRequired>
    <NppAutoCompleteFilterCaseMode>0</NppAutoCompleteFilterCaseMode>
    <NppAutoCompleteParserCaseMode>1</NppAutoCompleteParserCaseMode>
    <GlobalMaxNbCharInBlock>31190</GlobalMaxNbCharInBlock>
    <CodeTabSpaceNb>4</CodeTabSpaceNb>
    <CodeShowSpaces>False</CodeShowSpaces>
    <DisablePrototypeAutoUpdate>False</DisablePrototypeAutoUpdate>
    <DisplayParserErrorsOnSave>False</DisplayParserErrorsOnSave>
    <NormedVariablesPrefixes>c_,l_,i_,d_,lc_,gs_,gr_,ja_,jo_,h_,wh_,gc_,s_,rw_,dt_,v_,me_</NormedVariablesPrefixes>
    <FileExplorerVisible>True</FileExplorerVisible>
    <FileExplorerIgnoreUnixHiddenFolders>True</FileExplorerIgnoreUnixHiddenFolders>
    <FileExplorerAutoHideOnNonProgressFile>False</FileExplorerAutoHideOnNonProgressFile>
    <FileExplorerListFilesTimeOutInMs>30000</FileExplorerListFilesTimeOutInMs>
    <FileExplorerDirectoriesToExplore>0</FileExplorerDirectoriesToExplore>
    <CodeExplorerVisible>True</CodeExplorerVisible>
    <CodeExplorerItemPriorityList>0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32</CodeExplorerItemPriorityList>
    <CodeExplorerDisplayPersistentItems>False</CodeExplorerDisplayPersistentItems>
    <CodeExplorerDisplayItemsFromInclude>True</CodeExplorerDisplayItemsFromInclude>
    <CodeExplorerAutoHideOnNonProgressFile>False</CodeExplorerAutoHideOnNonProgressFile>
    <CodeExplorerSortingType>1</CodeExplorerSortingType>
    <ToolTipDeactivate>False</ToolTipDeactivate>
    <ToolTipmsBeforeShowing>500</ToolTipmsBeforeShowing>
    <ToolTipOpacity>0.92</ToolTipOpacity>
    <AutoSwitchEncodingForFilePatterns>*.p,*.w,*.i*,*.m*,*.cls,*.df,*.d</AutoSwitchEncodingForFilePatterns>
    <AutoSwitchEncodingTo>45048</AutoSwitchEncodingTo>
    <ExternalDirectoryPathForDataDiggerInstallation></ExternalDirectoryPathForDataDiggerInstallation>
    <NppStoppedCorrectly>True</NppStoppedCorrectly>
    <SharedConfFolder>C:\Users\matheus.fiorini\Documents\GitHub\editorconfigfiles\npp\3P</SharedConfFolder>
    <AutoUpdateConfList>,List of environments,Syntax highlighting themes list,Application themes list,Modification tags template,Deployment profiles,Deployment rules,Deployment hook procedure,Prolint startup procedure</AutoUpdateConfList>
    <SharedConfHistoric>C:\Users\matheus.fiorini\Documents\GitHub\editorconfigfiles\npp\3P,C:\Users\matheus.fiorini\Documents\GitHub\editorconfigfiles\npp</SharedConfHistoric>
    <EnvLastDbInfoUsed></EnvLastDbInfoUsed>
    <EnvName>geniality-dev</EnvName>
    <EnvSuffix>mbf</EnvSuffix>
    <TechnicalLastPing></TechnicalLastPing>
    <TechnicalMyUuid>439ce6be-3fd2-4f94-a5dc-4f7d6feb58e5</TechnicalMyUuid>
    <TechnicalLastWebserviceCallOk>True</TechnicalLastWebserviceCallOk>
    <ThemeId>13</ThemeId>
    <AccentColor>#AA00FF</AccentColor>
    <SyntaxHighlightThemeId>3</SyntaxHighlightThemeId>
    <DicoShortCuts>
      <ShortCuts>
        <Key>Show_main_menu_</Key>
        <Value>Shift+Alt+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Pro_desktop</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Send_appbuilder</Key>
        <Value>Alt+O</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Prolint</Key>
        <Value>F12</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Deploy</Key>
        <Value>Ctrl+Alt+Prior</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_debug-list</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_listing</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_xref</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_xrefxml</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Insert_new_procedure</Key>
        <Value>Alt+P</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Insert_new_function</Key>
        <Value>Alt+F</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Delete_procedure</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Delete_function</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Synchronize_prototypes</Key>
        <Value>Alt+S</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Check_parser_errors</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Toggle_Comment</Key>
        <Value>Ctrl+K</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Reindent_document</Key>
        <Value>Ctrl+I</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Edit_file_info</Key>
        <Value>Ctrl+Shift+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Insert_title_block</Key>
        <Value>Ctrl+Alt+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Modif_tags</Key>
        <Value>Ctrl+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Data_admin</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Data_dictionary</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Data_digger</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Data_reader</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Go_To_Definition</Key>
        <Value>Ctrl+B</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Go_Backwards</Key>
        <Value>Ctrl+Shift+B</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Open_main_window</Key>
        <Value>Alt+Space</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Show_Suggestion_List</Key>
        <Value>Ctrl+Space</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Read_as_progress</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Open_4GL_help</Key>
        <Value>F1</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Check_syntax</Key>
        <Value>Shift+F2</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Run_program</Key>
        <Value>F2</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Compile</Key>
        <Value>Ctrl+F2</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Compile_options</Key>
        <Value></Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Progress_tools</Key>
        <Value>Alt+T</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Search_file</Key>
        <Value>Alt+Q</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Switch_env</Key>
        <Value>Ctrl+E</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>DatabaseTools</Key>
        <Value>Alt+D</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Generate_code</Key>
        <Value>Alt+Insert</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Edit_code</Key>
        <Value>Alt+E</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Modification_tag</Key>
        <Value>Alt+M</Value>
      </ShortCuts>
      <ShortCuts>
        <Key>Go_to_options</Key>
        <Value>Shift+Alt+O</Value>
      </ShortCuts>
    </DicoShortCuts>
    <DicoLastCallDateTime>
      <LastCallDateTime>
        <Key>Ping</Key>
        <Value>2021-11-17 13:18:07</Value>
      </LastCallDateTime>
      <LastCallDateTime>
        <Key>3Pupdate</Key>
        <Value>2021-11-17 14:17:21</Value>
      </LastCallDateTime>
      <LastCallDateTime>
        <Key>Prolintupdate</Key>
        <Value>2021-08-23 10:40:31</Value>
      </LastCallDateTime>
      <LastCallDateTime>
        <Key>Proparse.netupdate</Key>
        <Value>2021-08-23 10:40:33</Value>
      </LastCallDateTime>
    </DicoLastCallDateTime>
    <DicoProgressFileExeptions>
      <ProgressFileExeptions>
        <Key>C:\gs\GitHub\mbfiorini\geniality-rf\gs\rfp\inc\esrf001.i</Key>
        <Value>1</Value>
      </ProgressFileExeptions>
      <ProgressFileExeptions>
        <Key>C:\gs\GitHub\mbfiorini\geniality-rf-web\gs\api\rf\esrfapi001.p</Key>
        <Value>1</Value>
      </ProgressFileExeptions>
      <ProgressFileExeptions>
        <Key>new 1</Key>
        <Value>0</Value>
      </ProgressFileExeptions>
      <ProgressFileExeptions>
        <Key>C:\gs\DataDigger\DataDigger.ini</Key>
        <Value>0</Value>
      </ProgressFileExeptions>
      <ProgressFileExeptions>
        <Key>Z:\DDK\11.5.12-SNAPSHOT\src\method\dboupd.i</Key>
        <Value>0</Value>
      </ProgressFileExeptions>
    </DicoProgressFileExeptions>
  </ConfigObject>
</Root>